.dashboard_main {
  width: calc(100% - 12.6rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5%;
}
.heading_text {
  font-size: 1.5rem;
  font-weight: 700;
}
.plan_selector {
  margin-left: auto;
  border: 1.5px solid #000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 2px;
}
.plan_selector span {
  font-size: 0.7rem;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-radius: 15px;
}
.active {
  background: #c9e4ff;
}
.plan_selector span sup {
  font-size: 0.5rem;
  color: #9bd599;
}

.card_container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
